###############################################################################
# Specify the primary programming language
###############################################################################
*.c linguist-language=C
*.h linguist-language=C
